body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #161616
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

p {
  font-size: 0.9em;
  max-width: 35em;
  line-height: 27px;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  margin: 0.5em 0;
  font-size: 3em;
}

.specs h2, .about h2 {
  font-size: 2em;
  padding-left: 1.2em;
  border-left: 0.1em red solid;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 2.5em
}

nav, .infos, .info,
.specs-header, .specs li,
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specs, .icon,
.panel:first-child,
.panel:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#svjlogo {
  width: 300px;
  height: 350px;
}

#speedlogo {
  width: 300px;
  height: 350px;
}

#cutlogo {
  width: 200px;
  height: 150px;
}

header {
  height: 100vh;
  min-height: 30em;
  background:
    url(https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/aventador/svj/2021/03_19/aventador_svj_overview_m.jpg)
    no-repeat center;
    display: flex;
    flex-direction: column;
}

nav {
  padding: 1.5em 2.5em;
  position: relative;
}

.menu-btn {
  display: none;
}

.brand {
  font-size: 1.3em;
}

nav li {
  display: inline-block;
  margin: 0 0.8em;
  text-align: center;
}